

 <nav class="nav-extended orange darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Marktplatz</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
            <li>Bem vindo, <%= current_user.name %></li>
            <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
            <%= link_to "Sign Up", signup_path(:type=> "consumer") %>
            <li> or</li>
            <li><%= link_to "Log In", login_path %></li>
        <% end %>  
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
          <% if current_user %>
            <% if current_user.role=="buy" %>
                <li class="tab"><a href="#test1">Produtos</a></li>
                <li class="tab"><a class="active" href="#test2">Pedidos</a></li>
                <li class="tab disabled"><a href="#test3">Carrinho</a></li>
                <li class="tab"><a href="#test4">Minha conta</a></li>
            <% end %> 
            <% if current_user.role=="sell" %>
                <li class="tab"><a href="#test1">Produtos</a></li>
                <li class="tab"><a class="active" href="#test2">Pedidos</a></li>
                <li class="tab disabled"><a href="#test3">Adicionar produto</a></li>
                <li class="tab"><a href="#test4">Test 4</a></li>
            <% end %> 
          <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <% if current_user %>
        <li>Bem vindo, <%= current_user.name %></li>
        <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li> or</li>
        <li><%= link_to "Log In", login_path %></li>
    <% end %>    
  </ul>

